@media (max-width: 565px) {

    /* Header  */
    .fa-bars {
        display: block;
    }

    .header_nav {
        display: none;
    }

    .header_button {
        display: none;
    }

    /* section1  */

    .section1_text {
        margin-bottom: 24px;
    }

    .section1_button {
        margin-bottom: 24px;
    }
}


@media (max-width: 450px) {

    /* Section1  */
    
    .section1_img {
        height: 240px;
    }

}