.container {
    width: min(100%, 1440px);
    margin: auto;
    border: 10px solid red;
}

/* Header  */
.fa-bars {
    display: none;
    padding: 6px;
    border-radius: 50%;
    background-color: #000000;
    color: #FFFFFF;
}

header {
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 24px;
}

.nav_list {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

}

.header_button {
    padding: 12px 24px;
    background-color: #000000;
    border: none;
    border-radius: 32px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

}

/* Section1  */

.section1 {
    padding: 64px 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1_text_div {
    width: calc(515 / 1440 * 100%);
}

.section1_text_title {
    font-family: Inter;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;

}

.section1_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.section1_button {
    padding: 12px 24px;
    background-color: #000000;
    border: none;
    border-radius: 32px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.section1_img {
    width: calc(490 / 1440 * 100%);
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

/* Section2  */

.section2 {
    padding: 96px 150px;
    background-color: #000000;

}

.section2_main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2_img {
    width: calc(503.5 / 1440 * 100%);
    height: 400px;
    object-fit: cover;
    border-radius: 12px;

}

.section2_div {
    width: calc(520 / 1440 * 100%);
}

.section2_div_title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.section2_div_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

/* Section3  */

.section3_main_div {
    margin: 64px 10.4%;
    display: flex;
    justify-content: space-between;
}

.section3_items {
    width: calc(360 / 1440 * 100%);
    padding-right: 10px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
}

.circle_title {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.items_title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.items_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

/* Footer  */
