.container {
    width: min(100%, 1440px);
    margin: auto;
    border: 10px solid red;
}

/* Header  */
.fa-bars {
    display: none;
    padding: 6px;
    border-radius: 50%;
    background-color: #000000;
    color: #FFFFFF;
}

header {
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 24px;
}

.nav_list {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

}

.header_button {
    padding: 12px 24px;
    background-color: #000000;
    border: none;
    border-radius: 32px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

}

/* Section1  */

.section1 {
    width: 100%;
    padding: 64px 11%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1_text_div {
    width: calc(515 / 1440 * 100%);
}

.section1_text_title {
    font-family: Inter;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;

}

.section1_text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 40px;
}

.section1_button {
    padding: 12px 24px;
    background-color: #000000;
    border: none;
    border-radius: 32px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.section1_img {
    width: calc(490 / 1440 * 100%);
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}