@media (max-width: 1024px) {

    /* Header  */
    .header_ul {
        column-gap: 44px;
    }

    /* section1  */
    .section1 {
        padding: 32px;
        flex-wrap: wrap;
    }

    .section1_text_div {
        width: 100%;
    }

    .section1_text_title {
        text-align: center;
    }

    .section1_text {
        text-align: center;
    }

    .section1_button {
        margin: 24px 42% 68px 42%;
        margin-top: 24px;
        margin-left: calc(462 / 1024 * 100%);
        margin-bottom: 68px;
        margin-right: calc(462 / 1024 * 100%);
    }

    .section1_img {
        width: 100%;
        height: 480px;
    }

    /* section2  */
    .section2 {
        padding: 32px 32px 64px 32px;
    }

    .section2_main_div {
        flex-direction: column;
    }

    .section2_img {
        width: 100%;
        height: 480px;
    }

    .section2_div {
        width: 100%;
        margin-top: 64px;
        display: flex;
        column-gap: 15%;
    }
}